@page
@model TochkaKrasoty.Pages.Admin.MastersModel
@{
    ViewData["Title"] = "Мастера";
}

<h1>Мастера</h1>

<h3>Добавить мастера</h3>

<form method="post">
    <div>
        <label>ФИО</label>
        <input asp-for="NewMaster.FullName" />
    </div>

    <div>
        <label>Специализация</label>
        <input asp-for="NewMaster.Specialization" />
    </div>

    <div>
        <label>Телефон</label>
        <input asp-for="NewMaster.Phone" />
    </div>

    <button type="submit">Добавить мастера</button>
</form>

<hr />

<h3>Список мастеров</h3>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Специализация</th>
            <th>Телефон</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var master in Model.Masters)
        {
            <tr>
                <td>@master.FullName</td>
                <td>@master.Specialization</td>
                <td>@master.Phone</td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@master.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <a href="javascript:history.back()" class="back-link">Вернуться назад</a>
</table>